In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
counties = pd.read_excel("IowaCity_County.xlsx")

In [4]:
counties.head()

                              City
0    Ackley city ( Hardin County )
1  Ackley city ( Franklin County )
2  Ackworth city ( Warren County )
3      Adair city ( Adair County )
4    Adair city ( Guthrie County )

In [11]:
cty = counties['City'].str.split(expand = True)
print(cty)

            0     1  2         3       4  5     6     7     8
0      Ackley  city  (    Hardin  County  )  None  None  None
1      Ackley  city  (  Franklin  County  )  None  None  None
2    Ackworth  city  (    Warren  County  )  None  None  None
3       Adair  city  (     Adair  County  )  None  None  None
4       Adair  city  (   Guthrie  County  )  None  None  None
..        ...   ... ..       ...     ... ..   ...   ...   ...
994   Wyoming  city  (     Jones  County  )  None  None  None
995      Yale  city  (   Guthrie  County  )  None  None  None
996    Yetter  city  (   Calhoun  County  )  None  None  None
997  Yorktown  city  (      Page  County  )  None  None  None
998   Zearing  city  (     Story  County  )  None  None  None

[999 rows x 9 columns]

In [9]:
cty2 = cty[1].str.split("County" , expand = True)
print(cty2)

                0   1
0       ( Hardin    )
1     ( Franklin    )
2       ( Warren    )
3        ( Adair    )
4      ( Guthrie    )
..            ...  ..
994      ( Jones    )
995    ( Guthrie    )
996    ( Calhoun    )
997       ( Page    )
998      ( Story    )

[999 rows x 2 columns]

In [ ]:
#Split the city column and create a new column with the county name